
/* .introSec {
    display: grid;
    grid-template-columns: 18% 77% 5%;
    grid-template-rows: 95% 5%; 
    height: 470px;
} */
.d1 {
    background-color: black;
}

.d2 {
    background-color: rosybrown;
}

.d3 {
    background-color: rosybrown;
    margin-left: 0;
}

.d4 {
    background-color: rosybrown;
    grid-column-start: 2;
    grid-column-end: span 2;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
margin-bottom: 0;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: rosybrown;
}

.active {
background-color: rosybrown;
}


body {
  background-color: black;  
}
h1 {
display: flex;
justify-content: center;
margin-bottom: 0%;
padding-top: 15PX;    
margin-top: 0%;
}

h2 {
display: flex;
justify-content: center;
margin-top: 0%;
}

.center {
display: flex;
justify-content: center; 
}

.center-img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;

}

#title {
background-color: rosybrown;
margin-top: 0;
margin-bottom: 0;
color: black;
font-weight: 900;
text-shadow:  3px 3px rosybrown;
text-align: center; 
height: 100px;

}

#banner-img {
margin-right: 0%;
}
#img-div {
background-color: rosybrown;
}

#image {
border: 50px outset white;
 /* display: flex; */
/*justify-content: center; */
}

figcaption {
background-color: rosybrown;
display: flex;
justify-content: center;
}
#BLM-img {
padding-bottom: 2px;
} 